<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlagbaDev - Desenvolvimento de Sites e Cibersegurança</title>
</head>
<body>
    <div>
        <h1><a href="/"> Alagbadev - Sites e Cibersegurança </a></h1> 
    </div>
    <div>
        <h1> O site da sua empresa com segurança, qualidade e preço justo! </h1>
        <p> Esse é o site Alagbadev, você sabe que pode contar comigo. </p>    
    </div>
    <div>
        <p>publicado: 14.06.2022, 12:14</p>
        <h2><a href="">Meu primeiro post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>

    <div>
        <p>publicado: 14.06.2022, 12:14</p>
        <h2><a href="">Meu segundo post</a></h2>
        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
    </div>
</body>
</html>